<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head.ejs"); %>
    </head>
    <body>
        <%- include("parts/nav.ejs") %>
        <main>
            <div class="bots row ph2 pv1">
                <div class="card col-xs-4 bot-card">
                    <h4>bot.name</h4>
                    <p
                        >Bot bot is officiis sequi qui sunt et eos velit
                        reiciendis. Accusamus molestiae rerum error tempore odio
                        mollitia incidunt sequi. Sed quae exercitationem nobis
                        dolore voluptas rerum itaque tempore.</p
                    >
                </div>
            </div>
        </main>
    </body>
</html>
