@charset "utf-8";
$primary-color: #7289DA;
$light: #FFFFFF;
$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$gray-color: #99AAB5;
$warning-color: #ffd600;
$error-color: #d50000;
$success-color: #00c853;
$info-color: #2962ff;
@import "lit.scss";
@import "util.scss";

body {
    margin: 0px;
}