@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Nunito");
$font: "Nunito", sans-serif;
$primary-color: #7289da;
$light: #ffffff;
$gray-color: #99aab5;
$dark-color: #2c2f33;
$darker-color: #23272A;
$warning-color: #ffd600;
$error-color: #d50000;
$success-color: #00c853;
$info-color: #2962ff;
@import "lit.scss";
@import "util.scss";
@import "flexboxgrid.scss";

body {
    margin: 0px;
    background: $dark-color;
}

* {
    font-family: $font;
    color: white;
}

.navbar-img {
    width: 38px;
    height: 33px;
}
@import "bots.scss";