<div class="bot-card c mr1 ml1 mb1 col-xs">
    <div class="row center-xs">
        <img
            src="https://cdn.discordapp.com/avatars/372022813839851520/503fa9b441bb6519fda5979eb80fa9bd.png?size=512"
            alt="bot img"
            class="rounded col-xs w-100"
        />
    </div>
    <h4 class="center-xs">bot.name</h4>
    <p
        >Bot bot is officiis sequi qui sunt et eos velit reiciendis. Accusamus
        molestiae rerum error tempore odio mollitia incidunt sequi. Sed quae
        exercitationem nobis dolore voluptas rerum itaque tempore.</p
    >
</div>
