<nav class="bg-accent pv2 ph2 row">
    <div class="col-xs">
        <a href="/"><img src="/logo.png" class="navbar-img" /></a>
    </div>
    <div class="col-xs-1">
        <a href="/api/auth/login" class="white ph2">
            <i class="fas fa-sign-in-alt ph1"></i>
            login</a>
    </div>
</nav>